.navbar {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #e100ff, #7f00ff);
    color: white;
    padding: 10px 20px;
    align-items: center;
  }
  .navbar__left {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
 .logo img {
        height: 32px;
        object-fit: contain;
      }
      
  .menu-btn {
    font-size: 24px;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
  .search-input {
    padding: 8px 12px;
    border-radius: 20px;
    border: none;
    width: 300px;
  }
  .navbar__right a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 4px;
  }
  