<div *ngIf="product" class="product-detail">
  <div class="left">
    <img [src]="product.image" [alt]="product.name" />
  </div>

  <div class="right">
    <h1>{{ product.name }}</h1>

    <p class="rating">
      ★ {{ product.rating }} ({{ product.reviewsCount }} отзывов)
    </p>

    <div class="price-block">
      <span class="price">{{ product.price }} ₸</span>
      <span class="old-price" *ngIf="product.oldPrice">{{ product.oldPrice }} ₸</span>
    </div>

    <p class="delivery">📦 {{ product.deliveryDate }}</p>

    <p class="description">{{ product.description }}</p>

    <button class="add-to-cart" *ngIf="!isInCart" (click)="toggleCart()">Добавить в корзину</button>
    <button class="go-cart" *ngIf="isInCart" (click)="goToCart()">Перейти в корзину</button>

    <button class="fav-btn" (click)="toggleFavorite()">
      <i [class]="product.isFavorite ? 'fas fa-heart' : 'far fa-heart'"></i>
    </button>
  </div>
</div>